.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #414656;
  color: #A6ABBD;
}

.title {
  padding: 30px;
}

.profielfoto {
  width: 300px;
}

nav {
  background-color: #437E9A;
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  display: flex;
  align-items: stretch;
  height: 100%;
} 

button {
  background-color: #626778;
  color: #83b3c9;
  border: none;
  margin: 1em 0.5em;
  font-size: 1.15em;
  padding: 0.75em;
}

.contentContainer {
  padding: 0em 0em 2em 0em;
  background-color: #A6ABBD;
  color: #414656;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1170px;
}

#text {
  width: 75%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 1170px;
  background-color: #414656;
  color: #A6ABBD;
  display: flex;
  justify-content: center;
}

.footerText {
  margin-bottom: 2em;
}